.DS_Store
.ipynb_checkpoints
.vscode
__pycache__/
*.pyc

# Ignore large dataset (>= 100 MB)

# Ignore Lab1 data
Lab1-mpMRI-glioma/data/Task01_BrainTumour*

# Ignore Lab0 stuff
Lab0-ML/Lab0-begin-python-pandas-medim/._assets
Lab0-ML/Lab0-begin-python-pandas-medim/._kiwi_data
Lab0-ML/Lab0-begin-python-pandas-medim/.vscode

# Avoid interference with the ELMED219-2025 repo when using private notebooks etc. for experimentation
my_stuff/

# Ignore saved models
test.pkl
logs.log
saved_model.pkl

# Ignore pycaret stuff
test.py
catboost_info
mlruns
flagged
.gradio



# Lab2-DL genererte filer og data (lastes ned automatisk ved kjøring)
Lab2-DL/data/MNIST/
Lab2-DL/notebooks/mnist_images/
Lab2-DL/notebooks/bonn_eeg_data/
Lab2-DL/notebooks/catboost_info/
Lab2-DL/notebooks/*.joblib
Lab2-DL/notebooks/*.npy
Lab2-DL/notebooks/*.csv
Lab2-DL/notebooks/*.csv.gz
Lab2-DL/notebooks/data/
Lab2-DL/notebooks/mnist_data/

# Lab2-DL modeller og treningsdata (fra AI-og-helse)
Lab2-DL/notebooks/*.pth
Lab2-DL/notebooks/*.pkl
Lab2-DL/modeller/
Lab2-DL/notebooks/tmp/
Lab2-DL/notebooks/modeller/

# Lab2-DL store mediafiler (kan streames fra YouTube)
Lab2-DL/assets/*.mp4

# Old stuff
2024-Project
2024-Lab0-ML
